body {
	font-size: 18px;
}

.btn-social {
	border-radius: 50%;
	padding: 18px 20px;
	color: white;
}

.btn-social:hover {
	color: white;
}

.btn-email {
	background: #767676;
}

.btn-email:hover {
	background: #5d5d5d;
}

.btn-linkedin {
	background: #0071a1;
}

.btn-linkedin:hover {
	background: #004d6e;
}

.btn-twitter {
	background: #33ccff;
}

.btn-twitter:hover {
	background: #028dbc;
}

.btn-github {
	background: #444;
}

.btn-github:hover {
	background: #222;
}
